* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  color: #ff0000;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.icon::before {
  content: attr(data-icon);

  transform: translateY(-135%);
  font-size: 30px;
  padding: 10px 25px;
  border-radius: 50px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.icon::after {
  content: "";
  width: 20px;
  height: 20px;

  transform: translateY(-145%) rotate(45deg);
}

.icon::before,
.icon::after {
  position: absolute;
  top: 50px;
  background-color: #fff;
  opacity: 0;

  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.64, 1.52);
}

.icon:hover::before,
.icon:hover::after {
  opacity: 1;
  top: 0;
}
